.Compare {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

    .dropDown {
        margin: 20px;
    }
}

.compare-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}