@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.Home {
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .Link1 {
        font-family: 'Archivo Black', sans-serif;
        color: black !important;
        font-size: 25px;
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    .Link2 {
        font-family: 'Archivo Black', sans-serif;
        color: black !important;
        font-size: 25px;
        margin: 20px;
    }

}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 55px;
    margin-top: 80px;
}