.lineups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add-btn {
    margin: 20px;
}
.lineup-cards {
    background-image: linear-gradient(rgba(97, 172, 97, 0.63),rgb(57, 118, 168));
    margin: 10px;
    color: white;


    .avg-more {
        background-color: green;
        color: white
    }

    .avg-less {
        background-color: red;
        color: white
    }

    .hits-more {
        background-color: green;
        color: white
    }

    .hits-less {
        background-color: red;
        color: white
    }

    .hr-more {
        background-color: green;
        color: white
    }

    .hr-less {
        background-color: red;
        color: white
    }

    .bb-more {
        background-color: green;
        color: white
    }

    .bb-less {
        background-color: red;
        color: white
    }

    .k-more {
        background-color: green;
        color: white
    }

    .k-less {
        background-color: red;
        color: white
    }

    .l-more {
        background-color: green;
        color: white
    }

    .l-less {
        background-color: red;
        color: white
    }

    .w-more {
        background-color: green;
        color: white
    }

    .w-less {
        background-color: red;
        color: white
    }

    .s-more {
        background-color: green;
        color: white
    }

    .s-less {
        background-color: red;
        color: white
    }
}