@import '_lineups';
@import '_home';
@import '_compare';
@import '_lineup-form';
@import '_navbar';

body, html {
    background-image: linear-gradient(rgb(101, 190, 241), rgba(253, 253, 143, 0.548));
    background-size: cover !important;
    background-attachment: fixed;
}

.btn {
    margin: 10px;
}

.dropDown {
    width: 120px;
}

.login {
    display: flex;
    justify-content: center;

    .email, .password {
        width: 500px;
    }
}

.register-container {
    display: flex;
    justify-content: center;

    .register-form {
        align-items: center;
    
        .reg-name, .reg-email, .reg-password {
            width: 700px;
        }
    }
}
